* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

:root {
  /*全局颜色*/
  --primary-color: rgb(245, 245, 245);
  --second-color: #707070;
  --primary-reverse-color: #3d3d3d;
}

body.dark {
  --primary-color: #3a3b3c;
  --second-color: #ccc;
  --primary-reverse-color: #fff;
}

body {
  background-color: var(--primary-color);
}

/**
* 全局页面样式
*/
.content-page {
  padding: 1.5rem;
  width: 80%;
  max-width: 1100px;
}

#nprogress .bar {
  background-color: #7c7c7c !important;
}

/**
* 按钮样式
*/

.hover-button {
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: transparent;
  margin: 10px 0 0;
  transition: all 0.2s ease-in;
  font-size: 18px;
  align-self: center;
}
.hover-button.active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

.hover-button:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.hover-button:active {
  transform: scale(0.96);
}

/*列表页*/
.list-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*纵向列表*/
.col-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-list .flex-ag-center {
  display: flex;
  align-items: center;
}

/*纵向列表元素样式*/
.col-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 600px;
  padding: 5px 50px;
  margin: 10px 0;
  border-radius: 6px;
  transition: all 0.2s;
}

.col-list-item > div {
  width: calc(100% / 3);
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 2;
  display: flex;
  align-items: center;
}

.col-list-item > div:first-of-type {
  font-weight: bolder;
}
.col-list-item > div:last-of-type {
  text-align: right;
  flex: 1;
}

/*横向列表：TODO*/
.row-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/*纵向列表元素样式*/
.row-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

.row-list-item > div {
  margin-bottom: 5px;
  padding: 10px 10px;
}

/*通用list-item*/
.media-list-item:hover {
  background-color: var(--primary-reverse-color);
  color: var(--primary-color);
  cursor: pointer;
}
.media-list-item:active {
  transform: scale(0.98);
}
